*{
    font-family: Arial, Helvetica, sans-serif;

}


#jogo{
    display:inline;
}



#jogador, #computador {
    position: relative;
    flex-grow: 1;
    width: 200px;
    color:#fff;
    padding:10px;
    border-radius: 5px;
    background-color: #eb5b5b;
}


#placar{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#jog-escolha, ul#com-escolha{
    list-style: none;
    margin:0;
    text-align: center;
    padding:0;
}

ul#jog-escolha li, ul#com-escolha li{
    display: inline;
    text-align: center;
}

ul#jog-escolha li a, ul#com-escolha li a{
    opacity: .2;
}

ul#jog-escolha li a:hover{
    opacity: 1;
}

ul#jog-escolha li a img, ul#com-escolha li a img{
    max-width: 210px;

}

img{
    width:200px;
    height: auto;
}

#com-nome{
    text-align: right;
}

#jog-nome{
    text-align: left;
}

#jog-placar{
    right: 20px;
}

#jog-placar, #com-placar{
    position: absolute;
    top:10px;
    font-size: 30px;
}